<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />

  <arg name="robot_name" value="Robot1"/>
    <arg name="init_pose" value="-x 0 -y 0 -z 0"/>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

     <!-- Load the URDF into ROS parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find swole_7)/robot/swole.urdf.xacro' --inorder" />
  <node
    name="spawn_urdf"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0.1 -model swole" respawn="false" output="screen"/>
    <!-- args="$(arg init_pose) -urdf -model $(arg robot_name) -param robot_description" output="screen" /> --> 
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

  <!-- Load the URDF into ROS parameter server -->

    <!-- Publish joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- convert joint states to TF transforms for rviz, etc  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
</launch>