<?xml version="1.0"?>
<launch>
<param name="robot_description" command="$(find xacro)/xacro '$(find swole_7)/urdf/base/swole_7.urdf.xacro'" />
<include file="$(find gazebo_ros)/launch/empty_world.launch"/>

<arg name="init_pose" value="-x 0 -y -0 -z 0" />
<arg name="robot_name"  value="Robot1" />
    <!-- Load the URDF into ROS parameter server  -->

    <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find swole_7)/config/swole_7_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/swole_7" args="joint1_position_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/swole_7/joint_states" />
  </node>

      <!-- Spawn model -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="$(arg init_pose) -urdf -model $(arg robot_name) -param robot_description"/>


</launch>
